<div class='container-fluid login bg-dark-grey login-form'>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group text-center">
          <h2 class="mb40">Edit User Profile</h2>
        </div> 
        <div class="login-white-box">
          <%= devise_error_messages! %>
          <% flash.each do |key, value| %>
            <% if(value != "Signed out successfully.") %>
              <div class="flash alert alert-warning <%= key %>"><%= value %></div>
            <% end%>
          <% end %>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :firstname%>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
         
          <div class="form-group">
            <%= f.label :lastname %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :gender %>
            <%= f.select :gender, User::GENDER.invert, {}, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :date_of_birth %>
            <%= f.text_field :date_of_birth, class: "form-control", "data-provide": 'datepicker' %>
          </div>

           <div class="form-group">
             <%= f.label :address %>
             <%= f.text_area :address, class: "form-control" %>
          </div>
           <div class="form-group">
             <%= f.label :mob %>
             <%= f.text_field :mob, class: "form-control" %>
          </div>
           <div class="form-group">
             <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
          
          
          <div class="form-group row">
            <div class="col-md-12">
              <div class="pull-left">
                 <input type="hidden" name="existing_session_data" value="<%= session[:book].present? ? session[:book] : '' %>">
                 <%= f.submit "Update", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  // $(document).ready(function(){
  //   $("[data-provide='datepicker']").datepicker({
  //     format: 'dd-mm-yyyy';
  //   });
  // });
</script>
 

<style type="text/css">
      /*.login-form {
        width: 400px;
          margin: 50px auto;
      }
        .login-form form {
          margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 80px;
        }*/
        
</style>