<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
      .login-form {
        width: 340px;
          margin: 50px auto;
      }
        .login-form form {
          margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
    </style>
  </head>

  <body>  
    <% @title="Sign In | epicureac" %>
    <div class='container-fluid login bg-dark-grey login-form'>
      <%= form_for(@user, :url => { :action => "update_password" } ) do |form| %>

        <div class="form-group text-center">
          <h3 class="mb40">Change Password</h3>
        </div> 
        <div class="login-white-box">
          <%= devise_error_messages! %>
          <% flash.each do |key, value| %>
            <% if(value != "Signed out successfully.") %>
              <div class="flash alert alert-warning <%= key %>"><%= value %></div>
            <% end%>
          <% end %>
          
          <div class="form-group">
            <%= form.label :password, "Password" %><br />
            <%= form.password_field :password, :autocomplete => "off"  %>
          </div>

          <div class="form-group">
                                
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation %>
          </div>

         
          <div class="form-group">
            <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= form.password_field :current_password %>
          </div>
          
          
          <div class="form-group row">
            <div class="col-md-12">
              <div class="pull-left">
                 <input type="hidden" name="existing_session_data" value="<%= session[:book].present? ? session[:book] : '' %>">
                 <%= form.submit %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
