
<p id="notice"><%= notice %></p>
<h2 align="center">Songs List</h2>
<h2 align="center">
</h2>
<div class="table-responsive">          
  <table class="table datatable table-bordered">
    <thead>
      <tr class="bg-primary">
        <th>#</th>
        <th>Song URL</th>
        <th>Plays</th>
        <th>Likes</th>
        <th>Reposts</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.songs.each_with_index do |song, index| %>
        <tr>
          <td class="bg-primary"><%= index + 1 %></td>
          <td><%= link_to song.url, song.url %></td>
          <td><%= song.song_detail.try(:plays_count) %></td>
          <td><%= song.song_detail.try(:likes_count) %></td>
          <td><%= song.song_detail.try(:reposts_count) %></td>
          <td><%= link_to 'Show',song, class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('.datatable').DataTable({
  // dom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
  // pagingType: "bootstrap"
  });
</script>