<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @song.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @song.url, @song.url %>
</p>
<p>
  <strong>Plays:</strong>
<%= @plays_count %>
</p>
<p>
  <strong>Likes:</strong>
<%= @likes_count %>
</p>
<%#= link_to 'Edit', edit_song_path(@song) %> 
<%= link_to 'Back', songs_path %>
