<p id="notice"><%= notice %></p>
<table class="table datatable table-bordered">
  <thead>
    <tr class="info">
      <th>User</th>
      <th>Url</th>
      <th>Plays</th>
      <th>Likes</th>
      <th>Reposts</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @song.user_id %></td>
        <td><%= link_to @song.url, @song.url %></td>
        <td><%= @plays_count %></td>
        <td><%= @likes_count %></td>
        <td><%= @reposts_count %></td>
      </tr>
  </tbody>
</table>
</br>

<%#= link_to 'Edit', edit_song_path(@song) %> 